:root {
  --branding-color: #faec51;
  --secondary-color: #1f51ff;
}

body {
  background-color: #121212;
}

hr {
  color: var(--branding-color);
}

a {
  color: #faec51;
}

.App-logo {
  max-width: 25rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0.625rem;
  top: 0.5rem;
}

.App-footer {
  color: #ffff;
  text-align: center;
  margin: 1.875rem 0;
}
