body {
  background-color: #121212;
}

hr {
  color: #faec51;
}

.App-logo {
  max-width: 25rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0.625rem;
  top: 0.5rem;
}

.App-footer {
  color: #fff;
  text-align: center;
  margin: 1.875rem 0;
}

.Results {
  color: #ffff;
  opacity: 77%;
}
