body {
  background-color: #121212;
}

hr {
  color: #faec51;
}

a {
  color: #faec51;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 25rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0.625rem;
  top: 0.5rem;
}
App-header {
  margin: 30px 0;
}

.App-footer {
  color: #fff;
  text-align: center;
  margin: 1.875rem 0;
}

.Results {
  color: #ffff;
  opacity: 77%;
}

.Results h2 {
  color: #ff5f1f;
}
