.App h1 {
  color: var(--secondary-color);
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.dictionary h4 {
  color: var(--branding-color);
}

.dictionary section {
  padding: 30px;
  border: 1px dashed var(--branding-color);
  border-radius: 10px;
  margin: 20px 0;
}

.dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: #333;
}

.Hint {
  padding: 10px 0 0 0;
  color: var(--branding-color);
  opacity: 55%;
  font-size: 13px;
}
.Results {
  color: #ffff;
  opacity: 77%;
}

.Results h2 {
  color: var(--secondary-color);
}

.Definition {
  font-size: 16px;
  line-height: 1.5;
}

.Example {
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
  text-transform: capitalize;
}

.Synonyms ul {
  margin: 15px 0 15px;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  line-height: 1;
  color: var(--secondary-color);
  opacity: 80%;
}
