.App h1 {
  color: #1f51ff;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.dictionary h4 {
  color: #faec51;
}

.dictionary section {
  padding: 30px;
  border: 1px dashed #faec51;
  border-radius: 10px;
  margin: 20px 0;
}

.dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: #333;
}

.Hint {
  padding: 10px 0 0 0;
  color: #faec51;
  opacity: 55%;
  font-size: 13px;
}
.Results {
  color: #ffff;
  opacity: 77%;
}

.Results h2 {
  color: #1f51ff;
}
